.gameContainer { 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.leftSide, .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 40%;
}

.scoreLeft, .scoreRight {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.scoreCheck {
    width: 20px;
    height: 20px;
    background: red;
}

.leftSide {
    border-right: 2px solid red;
}

.playArenaContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.element {
    background: red;
    width: 100px;
    height: 100px;
}

select {
    width: 100px;
    height: 50px;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
