.gameContainer { 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.leftSide, .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 40%;
}

.scoreLeft, .scoreRight {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.scoreCheck {
    width: 20px;
    height: 20px;
    background: red;
}

.leftSide {
    border-right: 2px solid red;
}

.playArenaContainer {
    width: 80%;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.element {
  width: 100px;
  height: 100px;
  border: 1px solid ;
  box-sizing: border-box;
  background: red;
}

.rightSide .playArenaContainer .element {
    cursor: pointer;
    box-shadow: 0 9px #000;
}

.rightSide .playArenaContainer .element:hover {
    cursor: pointer;
    background: #8B0000;
}

.rightSide .playArenaContainer .element:active {
    background-color: #8B0000;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
}


select {
    width: 100px;
    height: 50px;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
